* {
    bg:       #1c1c1c;
    fg:       #d6d6d6;
    muted:    #858585;
    accent:   #7faaa0;
    surface:  #292929;
    border:   #343434;

    font: "JetBrainsMono Nerd Font 15";
}

element-text,
element-icon {
    background-color: transparent;
}

window {
    width: 430px;
    height: 320px;

    border: 1px;
    border-color: @border;
    border-radius: 12px;

    background-color: @bg;
}

mainbox {
    padding: 20px;

    background-color: @bg;

    children: [inputbar, listview];
}

inputbar {
    padding: 10px 12px;
    margin: 0px 0px 16px 0px;

    border: 1px;
    border-color: @border;
    border-radius: 8px;

    background-color: @surface;

    children: [prompt, entry];
}

prompt {
    padding: 0px 10px 0px 0px;

    background-color: transparent;
    text-color: @accent;
}

entry {
    padding: 0px;

    background-color: transparent;
    text-color: @fg;

    placeholder: "Pesquisar...";
    placeholder-color: @muted;
}

listview {
    padding: 0px;
    margin: 0px;

    columns: 2;
    lines: 2;

    spacing: 9px;

    scrollbar: false;
    background-color: transparent;
}

element {
    padding: 35px 10px;

    border: 1px;
    border-color: @border;
    border-radius: 9px;

    background-color: @surface;
    text-color: @fg;

    orientation: horizontal;
}

element-text {
    padding: 0px;

    horizontal-align: 0;
    vertical-align: 0.5;

    background-color: transparent;
    text-color: @fg;
}

element selected {
    background-color: @surface;
    border-color: @accent;
    text-color: @accent;
}

element selected element-text {
    text-color: @accent;
}
